<!DOCTYPE html>
<html>
  <head>
    <title>RailsFirstProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">SPORTMAX</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Pagrindinis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="try">Išbandyk nemokamai</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="prices">kainos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="gallery">Galerija</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="list">Nauji klientai</a>
        </li>
        
      </ul>
      
    </div>
  </nav>
</header>
    
    <%= yield %>

  </body>
</html>
